.paragraph--type--movies-gallery{
    position: relative;
    padding: 60px 0;
    @include res(s-m-l){
        padding: 12px 0 40px;
    }
    .field--name-field-galeries-items.owl-carousel{
        > .paragraph{
            display: none!important;
            &:first-child{
                display: block!important;
                .field--name-field-image-horizontal, .field--name-field-background{
                    opacity: 0;
                }
            }
        }
    }
    .field--name-field-galeries-items:not(.owl-carousel){
        .field--name-field-image-horizontal, .field--name-field-background{
            position: relative;
            &:after{
                content: '';
                background: url(/themes/cinemasderot/images/gallery-1.png) no-repeat;
                background-size: cover;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    .field--name-field-galeries-items{
        .paragraph .field--name-field-movie > .field__item, .paragraph.paragraph--type--custom-gallery-item{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 104px;
            @include res(s-m-l){
                flex-direction: column-reverse;
            }
            @include res(l){
                padding: 0 30px 0 67px;
            }
            @include res(s-m){
                padding: 0 10px 0 28px;
            }
            .right{
                width: 50%;
                @include res(xl-xxl){
                    font-size: 0.75em;
                }
                @include res(s-m-l){
                    width: 100%;
                }
                .tags{
                    font-size: 1.3em;
                    @include res(s-m-l){
                        font-size: 0.9em;
                    }
                }
                .title{
                    font-size: 2.5em;
                    font-weight: bold;
                    @include res(s-m-l){
                        font-size: 1.5em;
                    }
                }
                .link{
                    margin: 75px 0 12px;
                    float: right;
                    @include res(s-m-l){
                        font-size: 0.9em;
                        margin: 26px 0 0;
                    }
                }
            }
            .left{
                width: 45%;
                @include res(s-m-l){
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
        .field--name-field-image-horizontal, .field--name-field-background{
 
        }
        .owl-stage{
            display: flex;
            .owl-item{
                .field--name-field-image-horizontal, .field--name-field-background{
                    height: 100%;
                    position: relative;
                    opacity: 1;
                    img{
                        margin-bottom: -1px;
                        width: calc(100% - 1px);
                        margin-right: 1px;
                    }
                    &:after{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
                &:nth-child(3n+1){
                    .field--name-field-image-horizontal, .field--name-field-background{
                        &:after{
                            background: url(/themes/cinemasderot/images/gallery-1.png) no-repeat;
                            background-size: cover;
                        }
                    }
                }
                &:nth-child(3n+2){
                    .field--name-field-image-horizontal, .field--name-field-background{
                        &:after{
                            background: url(/themes/cinemasderot/images/gallery-2.png) no-repeat;
                            background-size: cover;
                        }
                    }
                }
                &:nth-child(3n){
                    .field--name-field-image-horizontal, .field--name-field-background{
                        &:after{
                            background: url(/themes/cinemasderot/images/gallery-3.png) no-repeat;
                            background-size: cover;
                        }
                    }
                }
            }
        }
        .owl-controls{
            position: absolute;
            left: 45px;
            top: 0!important;
            height: 100%;
            display: flex;
            align-items: center;
            @include res(l){
                left: 30px;
                top: 90px!important;
            }
            @include res(s-m){
                left: 10px;
                top: 90px!important;
                height: auto;
            }
            .owl-dots{
                .owl-dot{
                    width: 14px;
                    height: 14px;
                    background-color: $pink;
                    border-radius: 50%;
                    margin-bottom: 14px;
                    @include res(s-m-l){
                        width: 7px;
                        height: 7px;
                    }
                    &.active{
                        background-color: $red;
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}