.paragraph--type--screening-table{
    padding-top: 50px;
    @include res(width){
      padding-top: 2.7vw;
    }
    @include res(s-m-l){
      padding-top: 40px;
    }
    .view-filters{
        @include width;
        [id^=edit-field-date-value-1-wrapper]{
            display: none;
        }
        .form--inline{
            text-align: center;
            @include size-20;
            .js-form-item{
                margin: 0;
                select, input{
                    border: none;
                    height: 48px;
                    border-radius: 40px;
                    @include res(width){
                        height: 3.2vw;
                    }
                }
                label{
                    font-weight: 700;
                }
            }
            .first-line{
                margin-bottom: 50px;
                width: 100%;
                @include res(width){
                    margin-bottom: 2.7vw;
                }
                @include res(s){
                    margin-bottom: 20px;
                }
                .wrapper{
                    display: -webkit-inline-box;
                    display: inline-flex;
                    border-radius: 40px;
                    @include res(l){
                        width: 100%;
                        box-sizing: border-box;
                        .js-form-item{
                            width: 100%;
                        }
                    }
                    @include res(s-m){
                        width: 100%;
                        box-sizing: border-box;
                        .js-form-item{
                            width: 100%;
                        }
                    }
                }
                .js-form-item input{
                    padding: 0 40px;
                    background-color: #fff;
                    border-radius: 0 40px 40px 0;
                    @include res(width){
                        padding: 0 2.2vw;
                    }
                    @include res(s-m-l){
                        width: 100%;
                        box-sizing: border-box;
                    }
                    @include res(s){
                        padding: 0 20px;
                        height: 40px;
                    }
                    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                        opacity: 1; /* Firefox */
                    }
                    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                        opacity: 1;
                    }
                    &::-ms-input-placeholder { /* Microsoft Edge */
                        opacity: 1;
                    }
                }
                .form-actions{
                    margin: 0 -20px 0 0;
                    display: -webkit-box;
                    display: flex;
                    input{
                        font-weight: 700;
                        height: 48px;
                        box-sizing: border-box;
                        @include res(width){
                            height: 3.2vw;
                        }
                        @include res(s){
                            height: 40px;
                        }
                    }
                    input[id^=edit-submit-movies]{
                        @include button(1em,#fff,$dark-orange,$dark-orange);
                        padding-left: 60px;
                        background: url(/themes/cinemasderot/images/search.svg) no-repeat left 5px center $dark-orange;
                        @include res(width){
                            padding-left: 3vw;
                            background-size: 3vw;
                            background-position:left 0.3vw center;
                        }
                        @include res(s-m-l){
                            padding: 5px 18px 5px 54px;
                        }
                        @include res(s-m){
                            font-size: 0;
                            padding: 0;
                            width: 40px;
                            height: 100%;
                            margin: 0;
                            border-radius: 30px 0 0 30px;
                            background-position: center center;
                        }
                        &:hover{
                            box-shadow: none;
                            border-color: #e8911f;
                            background-color: #e8911f;
                        }
                    }
                    input[id^=edit-reset]{
                        @include button(1em,$default,#e1e1e1,#e1e1e1);
                        margin: 0 15px 0 0;
                        @include res(width){
                            margin: 0 0.7vw 0 0;
                        }
                        @include res(s-m-l){
                            padding: 5px 18px;
                            margin: 0 8px 0 0;
                        }
                        &:hover{
                            box-shadow: none;
                            border-color: #cccaca;
                            background-color: #cccaca;
                        }
                    }
                    &.no-need-reset{
                        input[id^=edit-reset]{
                            display: none;
                        }
                    }
                }
            }
            .filters{
                text-align: right;
                .wrapper{
                    background: url(/themes/cinemasderot/images/filters.svg) no-repeat center right #fff;
                    border-radius: 40px;
                    height: 60px;
                    padding: 0 84px 0 34px;
                    display: -webkit-inline-box;display: inline-flex;
                    -webkit-box-align: center;align-items: center;
                    @include size-25;
                    font-weight: 700;
                    cursor: pointer;
                    @include res(s){
                        height: 40px;
                        background-size: 66px;
                        padding: 0 55px 0 18px;
                    }
                }

            }
            .mobile-wrapper{
                @include res(s-m-l){
                    opacity: 0;
                    z-index: -1;
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    overflow: auto;
                    top: 0;
                    right: 0;
                    background-color: $dark-black;
                    color: #fff;
                    padding: 40px;
                    box-sizing: border-box;
                    -webkit-transition: opacity 0.5s;transition: opacity 0.5s;
                    @include res(s){
                        padding: 20px;
                    }
                    .filters-label{
                        font-size: 1.2em;
                        font-weight: 700;
                        margin-bottom: 20px;
                    }
                    .close{
                        @include close;
                    }
                    .close-button{
                        @include button(1em,#000,#fff,#fff);
                        display: inline-block;
                        margin-top: 50px;
                        cursor: pointer;
                    }
                    &.open{
                        opacity: 1;
                        z-index: 100;
                    }
                }
            }
            .second-line{
                width: 100%;
                .wrapper{
                    display: -webkit-inline-box;display: inline-flex;
                    background-color: #fff;
                    border-radius: 40px;
                    -webkit-box-align: center;align-items: center;
                    padding: 6px 30px 6px 10px;
                    width: 100%;
                    box-sizing: border-box;
                    @include res(s-m-l){
                        display: block;
                        background-color: $dark-black;
                        padding: 0;
                    }
                }
                input{
                    padding: 0 10px;
                }
                .date-range{
                    display: -webkit-box;
                    display: flex;
                    -webkit-box-align: center;
                            align-items: center;
                    @include res(s-m-l){
                        display: flex;
                        justify-content: space-between;
                    }
                    .empty{
                        display: none;
                        @include close;
                        left: -12px;
                        right: auto;
                        margin-top: 4px;
                        top: 15px;
                        @include res(width){
                            top: 0.9vw;
                            left: -1vw;
                        }
                        &:before, &:after{
                            width: 11px;
                        }
                    }
                    input{
                        padding-left: 26px;
                        background-color: transparent;
                        z-index: 20;
                        cursor: pointer;
                        width: 278px;
                        @include res(width){
                            width: 15vw;
                        }
                        @include res(s-m-l){
                            width: 100%;
                        }
                    }
                    .all{
                        position: absolute;
                        right: 10px;
                    }
                    .input{
                        display: -webkit-box;display: flex;
                        -webkit-box-align: center;align-items: center;
                        position: relative;
                        @include res(s-m-l){
                            width: 100%;
                        }
                        &.input-full{
                            .all{
                                display: none
                            }
                        }
                        .arrow{
                            @include arrow;
                            position: absolute;
                            left: 12px;
                            @include res(width){
                                left: 0.5vw;
                            }
                            &:before{
                                left: 16px;
                                @include res(width){
                                    left: 1.45vw;
                                }
                                @include res(s-m-l){
                                    left: 13px;
                                }
                            }
                            &:after{
                                left: 10px;
                                @include res(width){
                                    left: 1.1vw;
                                }
                                @include res(s-m-l){
                                    left: 7px;
                                }
                            }
                        }
                    }
                }
                .js-form-type-select{
                    position: relative;
                    display: -webkit-box;display: flex;
                    -webkit-box-align: center;align-items: center;
                    width: calc(25% - 90px);
                    overflow: hidden;
                    @include res(width){
                        width: calc(25% - 4.8vw);
                    }
                    @include res(s-m-l){
                        width: 100%;
                        margin-bottom: 20px;
                        display: flex;
                        justify-content: space-between;
                    }   
                    &:before{
                        left: 40px;
                        @include res(width){
                            left: 2.1vw;
                        }
                    }
                    &:after{
                        left: 34px;
                        @include res(width){
                            left: 1.8vw;
                        }
                    }
                    label{
                        display: -webkit-box;
                        display: flex;
                        -webkit-box-align: center;
                                align-items: center;
                        &:before{
                            content: "/";
                            font-weight: 300;
                            font-size: 1rem;
                            margin-left: 30px;
                            @include res(s-m-l){
                                display: none;
                            }
                        }
                    }
                    .select2{
                        width: 100%!important;
                        text-align: right;
                        max-width: calc(100% - 84px);
                        @include res(width){
                            max-width: calc(100% - 6.5vw);
                        }
                    }
                    .select2-selection__arrow{
                        b{
                            top: auto;
                            border: none;
                            left: 0;
                            @include arrow;
                            &:before{
                                left: 16px;
                                @include res(width){
                                    left: 0.9vw;
                                }
                            }
                            &:after{
                                left: 10px;
                                @include res(width){
                                    left: 0.55vw;
                                }
                            }
                        }
                    }
                    .select2-container{
                        @include res(s-m-l){
                            width: 100%!important;
                            text-align: right;
                        }
                    }
                    .select2-container--default .select2-selection--single .select2-selection__rendered{
                        padding-left: 40px;
                        @include res(width){
                            padding-left: 1.5vw;
                        }
                        @include res(s-m-l){
                            color: #fff;
                        }
                    }
                    .select2-container--default .select2-selection--single .select2-selection__arrow{
                        left: 18px;
                        height: 100%;
                        display: -webkit-box;display: flex;
                        -webkit-box-align: center;align-items: center;
                        @include res(width){
                            left: 0;
                        }
                    }
                    .select2-container--default .select2-selection--single{
                        border: none;
                        background-color: transparent;
                        @include res(s-m-l){
                            color: #fff;
                        }
                    }
                    .select2-container--open{
                        .select2-selection__arrow{
                            b{
                                &:before{
                                    -webkit-transform: rotate(45deg);transform: rotate(45deg);
                                }
                                &:after{
                                    -webkit-transform: rotate(-45deg);transform: rotate(-45deg);
                                }
                            }
                        }
                    }
                }
                select{
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    margin-left: 30px;
                    padding-left: 20px;
                    cursor: pointer;
                    @include res(width){
                        margin-left: 1.6vw;
                        padding-left: 1.1vw;
                    }
                    @include res(s-m-l){
                        width: 100%;
                        background-color: $dark-black;
                    }
                }
            }
            .third-line{
                width: 100%;
                margin: 50px 0;
                @include res(width){
                    margin: 2.7vw 0;
                }
                .wrapper{
                    display: -webkit-inline-box;
                    display: inline-flex;
                    @include res(s-m-l){
                        display: block;
                    }
                    .js-form-item{
                        position: relative;
                        @include res(s-m-l){
                            width: 100%;
                            text-align: right;
                            margin-top: 30px;
                        }
                        &:first-child{
                            margin-left: 40px;
                        }
                        input{
                            position: absolute;
                            width: 100%;
                            opacity: 0;
                            height: 100%;
                            cursor: pointer;
                        }
                        label{
                            background: url(/themes/cinemasderot/images/unchecked.svg) no-repeat right center;
                            padding-right: 30px;
                            @include res(width){
                                padding-right: 2vw;
                                background-size: 1.5vw;
                            }
                        }
                        input:checked + label, input[checked="checked"] + label{
                            background: url(/themes/cinemasderot/images/checked.svg) no-repeat right center;
                            @include res(width){
                                background-size: 1.5vw;
                            }
                        }
                    }
                }
            }
        }
    }
    .movies-cart > .view-content{
        background-color: #fff;
        padding-top: 50px;
        @include res(width){
            padding-top: 2.7vw;
        }
        .view-content-wrapper{
            @include width;
        }
    }
    .view-empty{
        background: url(/themes/cinemasderot/images/empty.png) no-repeat center top 50px #fff;
        font-weight: bold;
        text-align: center;
        padding-top: 150px;
        padding-bottom: 50px;
        @include res(s){
            font-size: 0.8em;
        }
        .reset{
            background-color: #e4e4e4;
            cursor: pointer;
            display: inline-block;
            padding: 9px 17px;
            border-radius: 20px;
            margin-top: 10px;
        }
    }
}

body .daterangepicker{
    direction: rtl;
    text-align: right;
    border: none;
    border-radius: 30px;
    .drp-calendar.left{
        float: right;
    }
    td.in-range {
        background-color: $light-orange;
    }
    td.active, td.active:hover {
        background-color: $dark-orange;
    }
    td.end-date{
        border-radius: 4px 0 0 4px;
    }
    td.start-date {
        border-radius: 0 4px 4px 0;
    }
    .drp-calendar.left, .drp-calendar.right{
        @include res(s-m){
            float: none;
            padding: 8px 20px;
        }
    }
    .calendar-table .next span {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    .calendar-table .prev span {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .calendar-table th.next{
        position: absolute;
        left: 8px;
        @include res(s-m){
            left: -1px;
            top: 50%;
        }
    }
    .calendar-table th.prev{
        position: absolute;
        right: 8px;
        @include res(s-m){
            right: -1px;
            top: 50%;
        }
    }
}

.view-movies.view-display-id-block_2{
    > .view-filters{
        @include res(s-m-l){
            @include width;
            padding-bottom: 50px;
            @include res(s){
                padding-bottom: 20px;
            }
        }
    }
    > .view-content{
        @include res(s-m-l){
            background-color: #fff;
            @include width;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}