.paragraph--type--screening-table{
    padding-top: 50px;
    @include res(s-m-l){
      padding-top: 40px;
    }
    .view-filters{
        @include width;
        [id^=edit-field-date-value-1-wrapper]{
            display: none;
        }
        .form--inline{
            text-align: center;
            @include size-20;
            .js-form-item{
                margin: 0;
                select, input{
                    border: none;
                    height: 48px;
                    border-radius: 40px;
                }
                label{
                    font-weight: 700;
                }
            }
            .first-line{
                margin-bottom: 30px;
                width: 100%;
                @include res(s){
                    margin-bottom: 40px;
                }
                .wrapper{
                    display: inline-flex;
                    position: relative;
                    @include res(s-m){
                        width: 100%;
                        .js-form-type-textfield{
                            width: 100%;
                        }
                    }
                }
                .js-form-item input{
                    border-radius: 200px;
                    border: 1px solid $red;
                    padding: 0 20px;
                    box-sizing: border-box;
                    width: 400px;
                    @include res(s-m){
                        width: 100%;
                    }
                }
                .form-actions{
                    margin: 0;
                    input[id^=edit-submit-movies]{
                        background: url(/themes/cinemasderot/images/search-red.svg) no-repeat center center;
                        border: none;
                        text-indent: -9999px;
                        width: 40px;
                        height: 40px;
                        padding: 10px;
                        position: absolute;
                        top: 6px;
                        left: 10px;
                    }
                    input[id^=edit-reset]{
                        position: absolute;
                        left: -50px;
                        text-decoration: underline;
                        margin: 0;
                        background: none;
                        border: none;
                        font-size: 0.8em;
                        top: 14px;
                    }
                    &.no-need-reset{
                        input[id^=edit-reset]{
                            display: none;
                        }
                    }
                }
            }
            .filters{
                text-align: right;
                .wrapper{
                    background: url(/themes/cinemasderot/images/filters.svg) no-repeat center right #fff;
                    border-radius: 40px;
                    height: 60px;
                    padding: 0 84px 0 34px;
                    display: -webkit-inline-box;display: inline-flex;
                    -webkit-box-align: center;align-items: center;
                    @include size-25;
                    font-weight: 700;
                    cursor: pointer;
                    @include res(s){
                        height: 40px;
                        background-size: 66px;
                        padding: 0 55px 0 18px;
                    }
                }

            }
            .second-line{
                width: 100%;
                .wrapper{
                    display: -webkit-inline-box;display: inline-flex;
                    justify-content: center;
                    background-color: #fff;
                    border-radius: 40px;
                    -webkit-box-align: center;align-items: center;
                    padding: 6px 30px 6px 10px;
                    width: 100%;
                    box-sizing: border-box;
                    @include res(s-m){
                        display: block;
                        padding: 0;
                    }
                }
                input{
                    padding: 0 10px;
                }
                .date-range{
                    display: flex;
                    align-items: center;
                    border-radius: 200px;
                    border: 1px solid #000;
                    height: 48px;
                    margin-left: 12px;
                    position: relative;
                    @include res(s-m){
                        margin: 0 0 15px;
                    }
                    > label{
                        position: absolute;
                        right: 20px;
                        display: flex;
                        align-items: center;
                        color: #6A6A6A;
                        font-weight: 700;
                        svg{
                            margin-left: 5px;
                        }
                    }
                    .empty{
                        display: none;
                        @include close;
                        left: -12px;
                        right: auto;
                        margin-top: 4px;
                        top: 15px;
                        &:before, &:after{
                            width: 11px;
                        }
                    }
                    input{
                        padding-left: 26px;
                        background-color: transparent;
                        z-index: 20;
                        cursor: pointer;
                        width: 212px;
                        padding: 0 105px 0 20px;
                    }
                    .all{
                        position: absolute;
                        right: 105px;
                    }
                    .input{
                        display: -webkit-box;display: flex;
                        -webkit-box-align: center;align-items: center;
                        position: relative;
                        &.input-full{
                            .all{
                                display: none
                            }
                        }
                        .arrow{
                            @include arrow;
                            position: absolute;
                            left: 12px;
                            &:before{
                                left: 16px;
                            }
                            &:after{
                                left: 10px;
                            }
                        }
                    }
                }
                .js-form-type-select{
                    position: relative;
                    display: -webkit-box;display: flex;
                    -webkit-box-align: center;align-items: center;
                    border: 1px solid;
                    border-radius: 50px;
                    height: 48px;
                    overflow: hidden;
                    width: 334px;  
                    @include res(s-m){
                        width: 100%;
                    }
                    &:before{
                        left: 40px;
                    }
                    &:after{
                        left: 34px;
                    }
                    label{
                        display: flex;
                        align-items: center;
                    }
                    .select2{
                        width: 100%!important;
                        text-align: right;

                    }
                    .select2-selection__arrow{
                        b{
                            display: none;
                            top: auto;
                            border: none;
                            left: 0;
                            @include arrow;
                            &:before{
                                left: 16px;
                            }
                            &:after{
                                left: 10px;
                            }
                        }
                    }
                    .select2-container{
                    }
                    .select2-container--default .select2-selection--single .select2-selection__rendered{
                        padding-left: 40px;
                    }
                    .select2-container--default .select2-selection--single .select2-selection__arrow{
                        left: 18px;
                        height: 100%;
                        display: -webkit-box;display: flex;
                        -webkit-box-align: center;align-items: center;
                    }
                    .select2-container--default .select2-selection--single{
                        border: none;
                        background-color: transparent;
                        padding-right: 95px;
                        box-sizing: border-box;
                        width: 100%;
                    }
                    .select2-container--open{
                        .select2-selection__arrow{
                            b{
                                &:before{
                                    -webkit-transform: rotate(45deg);transform: rotate(45deg);
                                }
                                &:after{
                                    -webkit-transform: rotate(-45deg);transform: rotate(-45deg);
                                }
                            }
                        }
                    }
                    &.js-form-item-field-genre-target-id label{
                        background: url(/themes/cinemasderot/images/genre.svg) no-repeat center right;
                        position: absolute;
                        right: 20px;
                        padding: 5px 32px 5px 0;
                        color: #6A6A6A;
                    }
                }
                select{
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    margin-left: 30px;
                    padding-left: 20px;
                    cursor: pointer;
                }
            }
            .third-line{
                width: 100%;
                margin: 50px 0;
                .wrapper{
                    display: -webkit-inline-box;
                    display: inline-flex;
                    @include res(s-m-l){
                        display: block;
                    }
                    .js-form-item{
                        position: relative;
                        @include res(s-m-l){
                            width: 100%;
                            text-align: right;
                            margin-top: 30px;
                        }
                        &:first-child{
                            margin-left: 40px;
                        }
                        input{
                            position: absolute;
                            width: 100%;
                            opacity: 0;
                            height: 100%;
                            cursor: pointer;
                        }
                        label{
                            background: url(/themes/cinemasderot/images/unchecked.svg) no-repeat right center;
                            padding-right: 30px;
                        }
                        input:checked + label, input[checked="checked"] + label{
                            background: url(/themes/cinemasderot/images/checked.svg) no-repeat right center;
                        }
                    }
                }
            }
        }
    }
    .movies-cart > .view-content{
        background-color: #fff;
        padding-top: 50px;
        .view-content-wrapper{
            @include width;
        }
    }
    .view-empty{
        background: url(/themes/cinemasderot/images/empty.png) no-repeat center top 50px #fff;
        font-weight: bold;
        text-align: center;
        padding-top: 150px;
        padding-bottom: 50px;
        @include res(s){
            font-size: 0.8em;
        }
        .reset{
            background-color: #e4e4e4;
            cursor: pointer;
            display: inline-block;
            padding: 9px 17px;
            border-radius: 20px;
            margin-top: 10px;
        }
    }
}

body .daterangepicker{
    direction: rtl;
    text-align: right;
    border: none;
    border-radius: 30px;
    box-shadow: 1px -2px 7px rgba(0,0,0,0.1);
    &.opensleft{
        &:before{
            right: 60px;
        }
        &:after{
            right: 61px;
        }
    }
    .drp-calendar.left{
        float: right;
    }
    td.in-range {
        background-color: $pink;
    }
    td.active, td.active:hover {
        background-color: $dark-red;
    }
    td.end-date{
        border-radius: 4px 0 0 4px;
    }
    td.start-date {
        border-radius: 0 4px 4px 0;
    }
    .drp-calendar.left, .drp-calendar.right{
        @include res(s-m){
            float: none;
            padding: 8px 20px;
        }
    }
    .calendar-table{
        background-color: transparent;
    }
    .calendar-table .next span {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    .calendar-table .prev span {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .calendar-table th.next{
        position: absolute;
        left: 8px;
        @include res(s-m){
            left: -1px;
            top: 50%;
        }
    }
    .calendar-table th.prev{
        position: absolute;
        right: 8px;
        @include res(s-m){
            right: -1px;
            top: 50%;
        }
    }
}

.view-movies.view-display-id-block_2{
    > .view-filters{
        @include res(s-m-l){
            @include width;
            padding-bottom: 50px;
            @include res(s){
                padding-bottom: 20px;
            }
        }
    }
    > .view-content{
        @include res(s-m-l){
            background-color: #fff;
            @include width;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}