.page-node-type-advanced .field--name-field-paragraphs > .paragraph.paragraph--type--contact .in-the-grid{
    width: 1518px;
}

.paragraph--type--contact{
    .field--name-field-contact-details{
        @include width;
        display: flex;
        flex-wrap: wrap;
        > .field__item{
            width: calc(25% - 67.5px);
            margin-left: 45px;
            padding: 45px;
            margin-bottom: 50px;
            text-align: center;
            border-left: 1px solid #CCCCCC;
            box-sizing: border-box;
            &:nth-child(4n){
                margin-left: 0;
                border-left: none;
            }
        }
    }
    .gmap{
        iframe{
            width: 100%;
            height: 540px;
        }
    }
    .webform-wrapper{
        padding: 120px 0;
        background-color: #f4f4f4;
        .field--name-field-title{
            font-size: 3em;
            font-weight: bold;
            text-align: center;
        }
        .field--name-field-subtitle{
            text-align: center;
            font-size: 1.5em;
        }
        .field--name-field-webform{
            margin-top: 20px;
            form{
                display: flex;
                flex-wrap: wrap;
                max-width: 1333px;
                margin: 0 auto;
                .js-form-item{
                    width: calc(25% - 11.25px);
                    margin-left: 15px;
                    &:nth-child(4n+1){
                        margin-left: 0;
                    }
                    input, textarea{
                        width: 100%;
                        height: 56px;
                        padding: 16px 29px;
                        border-radius: 50px;
                        box-sizing: border-box;
                        border: 1px solid #000;
                        resize: none;
                    }
                }
                .form-actions{
                    width: 100%;
                }
            }
        }
    }
}

.paragraph--type--contact-item{
    .field--name-field-icon{
        height: 55px;
        margin-bottom: 35px;
        img{
            max-height: 100%;
            width: auto;
        }
    }
    > .field--name-field-title{
        font-weight: bold;
        font-size: 1.25em;
    }
    .field--name-field-contact-content{
        line-height: 1.5;

    }
    .paragraph--type--phone-number{
        display: flex;
        justify-content: center;
        width: 100%;
        .field--name-field-title{
            margin-left: 5px;
        }
    }
    .field--name-field-contact-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        .paragraph--type--icon{
            margin: 0 5px;
        }
        > .field__item:last-child:nth-child(2){
            width: 100%;
        }
    }
}