.page-node-type-page, .page-node-type-advanced{
    .node-banner{
        position: relative;
        margin-bottom: 50px;
        img{
            width: 100%;
            border-radius: 0 0 0 200px;
            object-fit: cover;
            min-height: 200px;
            @include res(s-m){
                border-radius: 0 0 0 130px;
            }
        }
        h1{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            padding: 0 30px;
            margin: 0;
            box-sizing: border-box;
        }
    }
}

.page-node-type-page{
    main{
        .layout-content{
            .field--name-body{
                max-width: 922px;
                margin: 0 auto;
                line-height: 1.4;
                @include res(s){
                    font-size: 18px;
                }
                p{
                    margin-bottom: 0;
                }
                h2{
                    margin-top: 22px;
                    margin-bottom: 0px;
                    line-height: 1.2;
                    @include size-30;
                }
                a{
                    text-decoration: underline;
                }
                strong{
                    font-weight: 500;
                }
                ul{
                    padding: 0;
                    li{
                        list-style: none;
                        padding-right: 24px;
                        position: relative;
                        padding-bottom: 8px;
                        &:before{
                            content: "";
                            width: 8px;
                            height: 8px;
                            background-color: $pink;
                            position: absolute;
                            right: 0;
                            border-radius: 50%;
                            top: 10px;
                        }
                    }
                }
                table{
                    width: 100%!important;
                    border: none!important;
                    text-align: right;
                    @include res(s-m){
                        font-size: 0.7em;
                    }
                    thead{
                        color: #fff;
                        tr{
                            th{
                                border: none;
                                background-color: $dark-orange;
                            }
                            th:nth-child(1){
                                border-radius: 0 30px 0 0;
                            }
                            th:last-child{
                                border-radius: 30px 0 0 0;
                            }
                        }
                    }
                    th, td{
                        padding: 24px;
                        @include res(m){
                            padding: 12px;
                        }
                        @include res(s){
                            padding: 8px;
                        }                       
                    }
                    tbody{
                        border-right: 2px solid #f4f4f4;
                        border-left: 2px solid #f4f4f4;
                        td{
                            border: none;
                            border-bottom: 2px solid #f4f4f4;
                        }
                    }
                }
            }
        }
        .layout-sidebar-second{
            width: 27.6%;
            background-color: $orange;
            border-radius: 30px;
            margin-top: 60px;
            margin-bottom: 70px;
            padding: 40px 40px 25px;
            box-sizing: border-box;
            @include res(width){
                padding: 2.1vw 2.1vw 1.3vw;
                margin-top: 3.25vw;
            }
            @include res(s-m-l){
                width: 100%;
                padding: 30px 30px 20px;
            }
            @include res(s){
                padding: 20px 10px 10px;
            }
            h2{
                @include size-30;
            }
        }
    }
}