.calendar{
    position: relative;
    z-index: 1000;
}
.calendar-inner{
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 670px;
    opacity: 0;
    top: -1000px;
    transition: opacity 0.5s;
    @include res(s-m){
        margin: 0;
        width: 100%;
        position: fixed;
        height: 100%;
        left: 0;
        background: rgba(0,0,0,0.2);
        justify-content: center;
        display: flex;
        .views-element-container{
            width: 90%;
            height: 80%;
        }
    }
    .view-calendar{
        border-radius: 20px;
    }
    .owl-stage-outer{
        height: initial!important;
    }
    .owl-prev, .owl-next{
        width: 24px;
        height: 24px;
        font-size: 0;
        transition: all 0.5s;
        position: absolute;
        top: 14px;
        font-size: 0;
        &.disabled{
            cursor: default;
        }
    }
    .owl-prev{
        background: url(/themes/cinemasderot/images/right-arrow.svg) no-repeat center center;
        background-size: 24px 24px;
        right: 15px;
        &:not(.disabled):hover{
            background: url(/themes/cinemasderot/images/right-arrow-black.svg) no-repeat center center;
            background-size: 24px 24px;
        }
        &.disabled{
            background: url(/themes/cinemasderot/images/right-arrow-disable-white.svg) no-repeat center center;
            background-size: 24px 24px;
        }
    }
    .owl-next{
        background: url(/themes/cinemasderot/images/left-arrow.svg) no-repeat center center;
        background-size: 24px 24px;
        left: 15px;
        &:not(.disabled):hover{
            background: url(/themes/cinemasderot/images/left-arrow-black.svg) no-repeat center center;
            background-size: 24px 24px;
            &.disabled{
                background: url(/themes/cinemasderot/images/left-arrow-disable-white.svg) no-repeat center center;
                background-size: 24px 24px;
            }
        }
    }
    .animated  {
        -webkit-animation-duration : 0s!important;
        animation-duration : 0s!important;
    }  
    .view-content > .group{
        display: none;
        &:first-child{
            display: block;
        }
    }
    .view-grouping-header{
            background-color: #000;
            color: #fff;
            text-align: center;
            font-weight: normal;
            margin: 0;
            font-size: 1em;
            padding: 14px 5px;
            border-radius: 20px 20px 0 0 ;
            font-weight: 700;
    }
    .group{
        box-shadow: -1px -1px 7px rgba(0,0,0,0.1);
        border-radius: 20px;
        .tuesday{
            display: none;
            background-color: $red;
            color: #fff;
            text-align: center;
            font-size: 0.8em;
            padding: 6px;
            &.day-2{
                display: block;
            }
        }
        .views-row-wrapper{
            max-height: calc(100vh - 200px);
            overflow: auto;
            padding: 16px 14px 6px;
            background-color: #F9F9F9;
            border-radius: 0 0 27px 27px;
            @include res(s-m){
                max-height: calc(100vh - 210px);
                padding: 10px 4px 6px;
            }
        }
        .views-row{
            display: flex;
            justify-content: space-between;
            font-size: 0.8em;
            border-bottom: 1px solid #ccc;
            padding: 12px 50px;
            align-items: center;
            border-radius: 250px;
            border: 1px solid rgba(239, 64, 86, 0.15);
            background: #FFF;
            margin-bottom: 10px;
            min-height: 90px;
            box-sizing: border-box;
            @include res(s-m-l){
                font-size: 0.7em;
                padding: 12px 10px;
                border-radius: 20px;
            }
            &:last-child{
                border-bottom: none;
            }
            .views-field-field-link-by-date{
                white-space: nowrap;
                a{
                    color: $red;
                    border: 1px solid $red;
                    padding: 5px 15px;
                    border-radius: 15px;
                    font-size: 1em;
                    display: block;
                    font-weight: 700;
                    @include res(s-m){
                        padding: 5px 10px;
                        font-size: 0.9em;
                    }
                }
                &.past{
                    background-color: #ada9a9;
                    color: #fff;
                    padding: 3px 10px;
                    border-radius: 15px;
                    font-size: 1em;
                    display: block;
                    font-weight: 700;
                }
            }
            .views-field-title{
                padding-left: 20px;
                max-width: calc(100% - 105px);
                @include res(s-m){
                    padding-left: 10px;
                    max-width: calc(100% - 72px);
                }
                .time{
                    padding-bottom: 5px;
                }
                a{
                    font-weight: bold;
                }
                .title{
                    font-size: 1.1em;
                }
                .tags{
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 5px;
                    .last{
                        color: $red;
                        background: #FEECEF;
                        margin-left: 10px;
                        border-radius: 5px;
                        padding: 5px 10px;
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
}

.calendar.open{
    .calendar-icon:before {
        -webkit-transform: rotate(45deg);transform: rotate(45deg);
    }
    .calendar-icon:after {
        -webkit-transform: rotate(-45deg);transform: rotate(-45deg);
    }
    .calendar-inner{
        top: 60px;
        opacity: 1;
        @include res(s-m){
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.open-menu{
    .calendar{
        z-index: -1;
    }
}

#block-views-block-full-calendar-block-1{
    .flex{
        display: flex;
        > div{
            width: 50%;
        }
    }
}
.view-full-calendar{
    .flex{
        flex-wrap:wrap;
        align-items: flex-start;
        justify-content: space-between;
        @include res(s-m-l){
            display: block;
        }
        .right-area{
            width: 550px;
            max-width: 100%;
            position: sticky;
            top: 35px;  
            @include res(s-m-l){
                position: relative;
                top: auto;
                margin: 0 auto 30px;
            }
            .view-header{
                text-align: center;
                font-size: 0.9em;
                margin-bottom: 10px;
            }
            .view-content{
                box-sizing: border-box;
                border-radius: 20px;
                box-shadow: 2px 5px 38.9px 0 rgba(0, 0, 0, 0.10);
                padding: 16px 20px;
                margin-bottom: 100px;              
            }
        }
    }
    .view-footer {
        width: calc(100% - 650px);
        @include res(xl-xxl){
            width: calc(100% - 570px);
        }
        @include res(s-m-l){
            width: 100%;
        }
        h3{
            margin-top: 32px;
        }
        .view-filters{
            display:none;
        }
        .view-grouping-content {
            display: flex;
            flex-wrap: wrap;
            @include res(l){
                justify-content: center;
            }
            @include res(s-m){
                justify-content: center;
            }
            .views-row{
                width: calc(50% - 20px);
                max-width: 360px;
                margin-left: 20px;
                margin-bottom: 60px;
                @include res(xl){
                    width: 100%;
                    margin-left: 0;
                }
                @include res(l){
                    &:nth-child(2n){
                        margin-left: 0;
                    }
                }
                @include res(m){
                    &:nth-child(2n){
                        margin-left: 0;
                    }
                }
                @include res(s){
                    width: 100%;
                    margin-left: 0;
                }
            }
        } 
    }
}

.view-full-calendar{   
    .view-content{
        position: relative;
    }
    .fc-toolbar{
        position: relative;
        margin-bottom: 20px;
        .fc-right{
            display: none;
        }
        .fc-center{
            width: 100%;
            text-align: center;
            h2{
                font-weight: 500;
                font-size: 1.5em;
            }
        }
        .fc-left{
            width: 100%;
            position: absolute;   
            top: 6px;
            .fc-today-button{
                display: none;
            }         
            .fc-button-group{
                display: flex;
                justify-content: space-between;
                flex-direction: row-reverse;
                .fc-prev-button, .fc-next-button{
                    border: none;
                    padding: 0;
                    flex: initial;
                    width: 24px;
                    height: 24px;
                    display: block;
                    span{
                        display: none;
                    }
                }
                .fc-prev-button{
                    background: url(/themes/cinemasderot/images/right-arrow.svg) no-repeat center center;
                    background-size: 24px 24px;
                    &:hover{
                        background: url(/themes/cinemasderot/images/right-arrow-black.svg) no-repeat center center;
                        background-size: 24px 24px;
                    }
                }
                .fc-next-button{
                    background: url(/themes/cinemasderot/images/left-arrow.svg) no-repeat center center;
                    background-size: 24px 24px;
                    &:hover{
                        background: url(/themes/cinemasderot/images/left-arrow-black.svg) no-repeat center center;
                        background-size: 24px 24px;
                    }
                }
            }
        }
    }
    .fc-view-container{
        td{
            border: none;
        }
        .fc-scroller{
            height: auto!important;
            thead{
                z-index: 1;
                position: relative;
            }
        }
        .fc-head{
            table{
                thead{
                    td{
                        border:none;
                    }
                    tr{
                        th{
                            border: none;
                            background-color: #FEECEF;
                            padding: 10px 0;
                            color: $red;
                            span{
                                font-weight: normal;
                            }
                            &:nth-child(1){
                                border-radius: 50px 0 0 50px;
                            }
                            &:last-child{
                                border-radius: 0 50px 50px 0;
                            }
                        }
                    }
                }
            }
        }
        .fc-body{
            font-size: 1em;
            color: #747474;
            .fc-row {
                min-height: 3.5em;
                @include res(s-m){
                    min-height: initial;
                    height: 50px;
                }
            }
            .fc-week{
                display: flex;
                align-items: center;
                tbody{
                    .fc-today{
                        background-color: #fff;
                        &.fc-other-month{
                            opacity: 0;
                        }
                    }
                }
            }
            .fc-day-top.active{
                &:after{
                    content:"";
                    width: 35px;
                    height: 35px;
                    border: 1px solid $red;
                    border-radius: 50%;
                    display: block;
                    margin: 5px auto 0;
                }
            }
            .fc-content-skeleton{
                padding: 0;
                height: 100%;
                table{
                    height: 100%;
                    thead{
                        .fc-day-top{
                            height: 46px;
                            width: 73px;
                            .fc-day-number{
                                display: block;
                                text-align: center;
                                cursor: pointer;
                                width: 70%;
                                margin: 0 15%;
                                padding: 10px 0;
                            }
                            &.fc-other-month{
                                opacity: 0;
                                pointer-events: none;
                            }
                        }
                    }
                    tbody{
                        a.fc-day-grid-event{
                            display: none;
                        }
                        td.hide-opacity{
                            opacity: 0;
                            pointer-events: none;
                        }
                        tr:nth-child(2), tr:nth-child(3){
                            display: none;
                        }
                        tr:first-child{
                            td{
                                position: relative;
                                &.fc-event-container{
                                    cursor: pointer;
                                }
                                &:not(.fc-event-container){
                                    &:after{
                                        content: "";
                                        width: 35px;
                                        height: 35px;
                                        background-color: rgba(256,256,256,0.7);
                                        border-radius: 50%;
                                        position: absolute;
                                        top: -40px;
                                        left: calc(50% - 19px);
                                        @include res(s){
                                            width: 25px;
                                            height: 25px;
                                            top: -38px;
                                            left: calc(50% - 14px);
                                        }
                                    }
                                }
                                a{
                                    display: none;
                                }
                            }
                            td:not(.fc-event-container){
                                position: relative;
                                z-index: 10;
                                &:before{
                                    content: "";
                                    left: 0;
                                    width: 100%;
                                    height: 46px;
                                    position: absolute;
                                    top: -46px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}