.page-node-type-movie{
    article.node--view-mode-full{
        @include width;
        padding-top: 40px;
        padding-bottom: 100px;
        @include res(s-m-l){
            padding-top: 0px;
        }
        h1.page-title{
            text-align: right;
            padding-top: 0px;
        }
        .node__content{
            display: flex;
            justify-content: space-between;
            @include res(s-m-l){
                display: block;
            }
            .right-area{
                width: 48%;
                @include res(s-m-l){
                    width: 100%;
                }
                .image{
                    padding-bottom: 35px;
                    iframe, img{
                        max-width: 100%;
                        border-radius: 0 0 0 200px;
                        @include res(s-m){
                            border-radius: 0 0 0 130px;
                        }
                    }
                    .withtrailer{
                        position: relative;
                        .field--name-field-image-horizontal{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            z-index: 10;
                            cursor: pointer;
                            &:before{
                                width: 85px;
                                height: 85px;
                                border-radius: 50%;
                                background-color: $dark-orange;
                                content:"";
                                position: absolute;
                                @include res(s-m){
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                            &:after{
                                width: 0;
                                height: 0;
                                border-style: solid;
                                border-width: 23px 0 23px 33px;
                                border-color: transparent transparent transparent #fff;
                                content:"";
                                position: absolute;
                                margin-left: 9px;
                                @include res(s-m){
                                    border-width: 10px 0 10px 16px;
                                    margin-left: 5px;
                                }
                            }
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                margin: 0;
                            }
                            @include res(s-m){
                                display: none;
                            }
                        }
                    }
                }
            }
            .left-area{
                width: 46%;
                box-sizing: border-box;
                @include res(s-m-l){
                    width: 100%;
                    margin-bottom: 30px;
                    .paragraph--type--movie-date{
                        text-align: right;
                    }
                }
                @include res(s-m){
                    padding: 18px 0;
                }
                .last-screening .views-row{
                    border-radius: 50px;
                    border: 1px solid $red;
                    font-size: 1.2em;
                    display: inline-block;
                    color: $red;
                    padding: 10px 21px;
                    @include res(s-m-l){
                        font-size: 0.9em;
                    }
                }
                h1{
                    margin: 15px 0 30px;
                }
                .price{
                    font-weight: 500;
                    font-size: 1.5em;
                    @include res(xl-xxl){
                        font-size: 1em;
                    }
                    @include res(s-m-l){
                        font-size: 1em;
                    }
                    @include res(s){
                        display: block;
                        .field--name-field-price{
                            margin-bottom: 5px;
                            &:after{
                                display: none;
                            }
                        }
                    }
                    .online, .subscribe, .tab-free {
                        .field{
                            border-radius: 20px;
                            background-color: $light-orange;
                            padding: 6px 10px;
                        }
                    }
                    &.online-subscribe{
                        margin-top: 10px;
                        @include res(xl){
                            > div:after{
                                margin: 0 10px;
                            }
                        }
                        @include res(s){
                            > div:after{
                                display: none;
                            }
                        }
                        .online, .subscribe{
                            margin-bottom: 5px;
                        }
                    }
                    .field, .subscribe, .online{
                        &:after{
                            background-color: $red
                        }
                    }
                    .subscribe, .online{
                        .field{
                            background: none;
                            padding: 0;
                            border-radius: 0;
                            color: $red;
                        }
                    }
                }
                .tab-free{
                    font-size: 1.5em;
                    display: flex;
                    margin-top: 10px;
                    @include res(xl-xxl){
                        font-size: 1em;
                    }
                    @include res(s-m-l){
                        font-size: 1em;
                    }
                    &:before{
                        content: "*";
                        margin-left: 5px;
                    }
                }
                .linkbuy{
                    padding: 30px 0 60px;
                    @include res(s){
                        text-align: center;
                    }
                    a{
                        @include button(1em,#fff,$red,$dark-red);
                        border-radius: 40px;
                        display: inline-block;
                        font-weight: 700;
                        padding: 13px 30px;
                        @include res(width){
                            font-size: 1.36vw;
                            padding: 0.7vw 3.5vw;
                        }
                        @include res(l){
                            font-size: 1.25em;
                            padding: 15px 60px;
                        }
                        @include res(m){
                            font-size: 1em;
                            padding: 8px 40px;
                        }
                        @include res(s){
                            display: block;
                            margin-top: 10px;
                            font-size: 1.3em;
                            padding: 14px 0;
                        }
                    }
                }
                .no-screening{
                    padding: 20px 0 30px;
                    font-weight: 700;
                }
                .screening{
                    border-top: 2px solid #EAE8E8;
                    padding-top: 50px;
                    .views-row .remark{
                        color: $red;
                        width: 100%;
                        font-size: 0.7em;
                        text-align: right!important;
                        @include res(s){
                            text-align: center!important;
                        }
                    }
                    .views-row .line{
                        border-radius: 50px;
                        border: 1px solid #000;
                        margin-bottom: 20px;
                        position: relative;
                        justify-content: space-between;
                        padding: 18px 38px;
                        flex-wrap: wrap;
                        @include res(s-m){
                            padding: 18px;
                            font-size: 0.8em;
                        }
                        @include res(s){
                            flex-wrap: wrap;
                        }
                        .slash{
                            font-size: 0.9em
                        }
                        > div{
                            text-align: center;
                            &.day{
                                width: 17%;
                                text-align: right;
                                @include res(s){
                                    width: 48%;
                                    text-align: center;
                                    margin-bottom: 14px;
                                }
                            }
                            &.date{
                                width: 24%;
                                @include res(s){
                                    width: 48%;
                                }
                            }
                            &.time{
                                width: 13%;
                                @include res(s){
                                    width: 48%;
                                }
                            }
                            &.place{
                                width: 16%;
                                @include res(s){
                                    width: 48%;
                                }
                            }
                            &.second-slash{
                                @include res(s){
                                    display: none;
                                }
                            }
                        }
                    }
                    .tuesday{
                        display: none;
                        &.day-2{
                            display: inline-block;
                            background-color: $red;
                            color: #fff;
                            text-align: center;
                            font-size: 0.7em;
                            padding: 6px 10px;
                            position: relative;
                            z-index: 10;
                            border-radius: 30px 30px 0;
                            + .line{
                                border-top-right-radius: 0;
                                margin-top: -13px;
                            }
                        }
                    }
                }
            }
            .tags{
                font-weight: 500;
                flex-wrap: wrap;
                color: $red;
                font-size: 1.1em;
                @include res(s-m){
                    font-size: 0.8em;
                }
                .field--name-field-genre{
                    display: flex;
                    > div{
                        position: relative;
                        &:after{
                            content: "/";
                            display: inline-block;
                            margin: 0 5px;
                          }
                          &:last-child:after{
                            display: none;
                          }
                    }
                }
                &:first-child{
                    @include res(l){
                        padding-bottom: 22px;
                    }
                    @include res(s-m){
                        padding-bottom: 15px;
                    }
                }
                > div{
                    &:after{
                        background-color: $red;
                        width: 6px;
                        height: 6px;
                    }
                }
            }
            .field--name-body{
                line-height: 1.4;
                padding-bottom: 7px;
            }
            .field--name-field-actors, .field--name-field-directedby{
                padding-top: 10px;
                display: flex;
                @include res(s){
                    display: block;
                }
                .field__label{
                    width: 90px;
                    @include res(s){
                        width: 100%;
                    }
                }
            }
        }
    }
    .recomended-movie{
        margin-bottom: 100px;
        .recomended-label{
            @include size-50;
            font-weight: 700;
        }
    }
}