<a href="{{ url }}">
    <div class="image">
        {{ content.field_image_horizontal }}
    </div>
    <div class="text">
        {{ content.field_event}}
        <div class="title">{{ label }}</div>
    </div>
</a>

