<a href="{{ url }}">
    <div class="image">
        {{ content.field_image_horizontal }}
    </div>
    <div class="text">
        <div class="content">
            {{ content.field_event}}
            <div class="title">{{ label }}</div>
        </div>
    </div>
</a>