footer{
    overflow: hidden;
    .footer-menu{
        padding: 50px 0 0;
        .flex{
            justify-content: space-between;
            align-items: center;
            @include res(xl-xxl){
                font-size: 0.8em;
            }
            @include res(s-m-l){
                flex-direction: column;
                align-items: flex-start;
                .logo{
                    order:1;
                }
            }
            .footer-column{
                &.column-1{
                    width: 300px;
                    font-size: 0.9em;
                    @include res(xl-xxl){
                        width: 250px;
                    }
                    @include res(s-m-l){
                        order: 4;
                    }
                    .block-menu-item-fieldsbottomfooter{
                        ul{
                            padding: 0;
                            margin: 0;
                            li{
                                padding: 0;
                            }
                        }
                        > ul{
                            margin: 30px 0 0;
                            > li{
                                padding: 5px 0;
                            }
                        }
                        li{
                            list-style: none;
                            &.email{
                                .field--name-link{
                                    display: none;
                                }
                            }
                            &.phones{
                                > div > .field--name-link{
                                    display: none;
                                }
                                ul{
                                    display: flex;
                                    li:first-child{
                                        border-left: 1px solid;
                                        padding-left: 10px;
                                        margin-left: 10px;
                                    }
                                    li > div{
                                        display: flex;
                                    }
                                    .field--name-link{
                                        margin-left: 5px;
                                    }
                                }
                            }
                            &.social{
                                margin-top: 10px;
                                > div > .field--name-link{
                                    display: none;
                                }
                                ul{
                                    display: flex;
                                    li{
                                        margin-left: 12px;
                                        a{
                                            width: 32px;
                                            height: 32px;
                                            background: url(/themes/cinemasderot/images/facebook.svg) no-repeat center;
                                            text-indent: -9999px;
                                            display: block;
                                        }
                                    }
                                    .facebook{
                                        a{
                                            background: url(/themes/cinemasderot/images/facebook.svg) no-repeat center;
                                        }
                                    }
                                    .instagram{
                                        a{
                                            background: url(/themes/cinemasderot/images/instegram.svg) no-repeat center;
                                        }
                                    }
                                    .youtube{
                                        a{
                                            background: url(/themes/cinemasderot/images/youtube.svg) no-repeat center;
                                        }
                                    }
                                }                                
                            }
                        }
                    }
                }
                &.column-2{
                    width: calc(100% - 620px);
                    @include res(xl-xxl){
                        width: calc(100% - 520px);
                    }
                    @include res(s-m-l){
                        order: 2;
                        width: 100%;
                        margin: 40px 0 10px;
                    }
                    .menu--footer{
                        > ul{
                            display: flex;
                            justify-content: center;
                            margin: 0;
                            @include res(s-m-l){
                                flex-wrap: wrap;
                                justify-content: space-between;
                            }
                            > li{
                                margin: 0 6%;
                                @include res(s-m-l){
                                    margin: 0 0 30px;
                                }
                                @include res(l){
                                    width: 33%;
                                }
                                @include res(m){
                                    width: 50%;
                                }
                                @include res(s){
                                    width: 100%;
                                }
                                > a, > span{
                                    font-size: 1.1em;
                                    font-weight: bold;
                                }
                            }
                            li{
                                list-style: none;
                                ul{
                                    padding: 0;
                                    margin: 12px 0 0;
                                    li{
                                        padding: 8px 0;
                                    }
                                }
                            }
                        }
                    }
                }
                &.column-3{
                    width: 300px;
                    @include res(xl-xxl){
                        width: 250px;
                    }
                    @include res(s-m-l){
                        order:3;
                    }
                    h2{
                        margin: 0 0 5px;
                        font-size: 1.2em;
                        color: $red;
                    }
                    p{
                        margin: 0;
                        font-size: 0.9em;
                    }
                    img{
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    .bottom-footer{
        .credit{
            direction: ltr;
            font-size: 0.7em;
            padding-bottom: 30px;
            img{
                position: relative;
                top: 8px;
                margin-left: 2px;
            }
        }
    }
}

.paragraph--type--logos-grid{
    margin: 20px 0;
    .field--name-field-logos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .field__item{
            margin: 0 10px;
        }
    }
}