.view.movie-slide, .view.event-slide{
    position: relative;
    padding-bottom: 40px;
    padding-top: 40px;
    @include res(s-m){
        position: relative;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .owl-stage{
        padding-right: calc(50% - 870px) !important;
        @media (max-width: 1860px){
            padding-right: 60px!important;
            @include res(xxl){
                padding-right: 40px!important;
            }
            @include res(xl){
                padding-right: 30px!important;
            }
            @include res(l){
                padding-right: 30px!important;
            }
            @include res(s-m){
                padding-right: 10px!important;
            }
        }
    }
    .owl-controls{
        .owl-nav{
            display: flex;
            justify-content: space-between;
            position: absolute;
            left: calc(50% - 870px);
            top: -93px;
            width: 118px;
            height: 52px;
            @media (max-width: 1860px){
                left: 60px;
                @include res(xxl){
                    left: 40px;
                }
                @include res(xl){
                    left: 30px;
                }
                @include res(l){
                    left: 30px;
                }
                @include res(s-m){
                    left: 10px;
                }
            }
            @include res(xl-xxl){
                top: -85px;
            }
            @include res(l){
                top: -87px;
                width: 90px;
            }
            @include res(m){
                top: -47px;
                width: 90px;
            }
            @include res(s){
                top: -68px;
                width: 90px;
            }
            .owl-prev, .owl-next{
                width: 52px;
                height: 52px;
                font-size: 0;
                transition: all 0.5s;
                &.disabled{
                    cursor: default;
                }
            }
            .owl-prev{
                background: url(/themes/cinemasderot/images/right-arrow.svg) no-repeat center center;
                @include res(s-m-l){
                    background-size: 34px 34px;
                }
                &:not(.disabled):hover{
                    background: url(/themes/cinemasderot/images/right-arrow-black.svg) no-repeat center center;
                    @include res(s-m-l){
                        background-size: 34px 34px;
                    }
                }
                &.disabled{
                    background: url(/themes/cinemasderot/images/right-arrow-disable.svg) no-repeat center center;
                    @include res(s-m-l){
                        background-size: 34px 34px;
                    }
                }
            }
            .owl-next{
                background: url(/themes/cinemasderot/images/left-arrow.svg) no-repeat center center;
                @include res(s-m-l){
                    background-size: 34px 34px;
                }
                &:not(.disabled):hover{
                    background: url(/themes/cinemasderot/images/left-arrow-black.svg) no-repeat center center;
                    @include res(s-m-l){
                        background-size: 34px 34px;
                    }
                }
                &.disabled{
                    background: url(/themes/cinemasderot/images/left-arrow-disable.svg) no-repeat center center;
                    @include res(s-m-l){
                        background-size: 34px 34px;
                    }
                }
            }
        }
    }
    .owl-item > .views-row{
        margin: 0 1px;
    }
    .owl-stage{
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        &:after{
            display: none;
        }
        .owl-item{
            display: -webkit-box;
            display: flex;
        }
    }
    .owl-carousel{
        @include res(m){
            width: 76%;
            position: initial;
        }
    }
    .owl-stage-outer{
        width: 100%;
        @include res(m){
            overflow: visible;
        }
    }
    > .view-content{
        display: -webkit-box;
        display: flex;
        &:not(.owl-carousel){
            @include width;
        }
    }
}

.view.movie-slide .view-content{
        > .views-row{
            margin-bottom: 40px;
            margin-top: 40px;
            width: calc(25% - 75px);
            display: none;
            margin-left: 40px;
            &:nth-child(4){
                margin-left: 0;
            }
            &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4){
                display: block;
            }
            @media (min-width: 769px) and (max-width: 1200px){
                width: calc(100%/3 - 52px/3);
                margin-left: 26px;
                &:nth-child(3){
                    margin-left: 0;
                }
                &:nth-child(4){
                    display: none;
                }
            }
            @include res(s-m){
               width: 100%;
                max-width: 363px;
                margin: 0 auto;
                &:nth-child(2){
                    margin-left: 0;
                }
                &:nth-child(3), &:nth-child(4){
                    display: none;
                }
            }
        }
}

.view.movies-cart{
    > .view-content, > .view-content .view-content-wrapper{
        .owl-item > .views-row, > .views-row{
            position: relative;
            a{
                display: block;
            }
            .field--name-field-image-verical, .image{
                overflow: hidden;
                position: relative;
                img{
                    transition: transform 0.8s;
                    transition: transform 0.8s, -webkit-transform 0.8s;
                }
            }
            .text{
                padding-top: 20px;
                display: -webkit-box;
                display: flex;
                flex-wrap: wrap;
                @include res(s-m-l){
                    font-size: 0.8em;
                    padding-top: 10px;
                }
                .screening-time-label{
                    margin-left: 3px;
                }
                .today-label{
                    margin-left: 10px;
                }
                .title{
                    font-size: 1.2em;
                    font-weight: 700;
                    width: 100%;
                    @include res(s-m-l){
                        font-size: 1em;
                    }
                }
                .tags{
                    color: $red;
                    font-size: 0.9em;
                    .field--name-field-genre{
                        display: flex;
                        > .field__item{
                            &:not(:last-child):after{
                                content: ",";
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
            .overlay{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                background-color: rgba(0,0,0,0.76);
                opacity: 0;
                -webkit-transition: opacity 0.5s;
                transition: opacity 0.5s;
                display: flex;
                justify-content: center;
                align-items: center;
                @include res(s-m){
                    display: none;
                }
                .button{
                    background-color: $red;
                    border-radius: 250px;
                    color: #fff;
                    font-weight: bold;
                    padding: 10px 20px;
                }
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}

.view.movie-list{
    > .view-content, > .view-content .view-content-wrapper{
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        > .views-row{
            width: calc(20% - 32px);
            margin-left: 40px;
            position: relative;
            margin-bottom: 60px;
            &:nth-child(5n){
                margin-left: 0;
                @include res(xl-xxl){
                    margin-left: 40px;
                } 
                @include res(l){
                    margin-left: 40px;
                }   
                @include res(m){
                    margin-left: 40px;
                } 
            }
            @include res(xxl){
                width: calc(25% - 30px);
                &:nth-child(4n){
                    margin-left: 0;
                }
            }
            @include res(xl){
                width: calc(33.3333% - 26.6667px);
                &:nth-child(3n){
                    margin-left: 0;
                }
            }
            @include res(l){
                width: calc(33.3333% - 26.6667px);
                &:nth-child(3n){
                    margin-left: 0;
                }
            }
            @include res(m){
                width: calc(50% - 20px);
                &:nth-child(2n){
                    margin-left: 0;
                }
            }
            @include res(s){
                width: 100%;
                margin-left: 0;
            }
            .flex{
                align-items: flex-start;
                > div{
                    align-items: flex-start;
                    &:after{
                        margin-top: 11px;
                    }
                }
            }
            .field--name-field-image-verical img{
                width: 100%;
            }
        }
    }
}

.sliders .views-element-container, .paragraph--type--movies-gener .views-element-container{
    @include res(l){
        max-width: 90%;
        margin: 0 auto;
    }
    @include res(m){
        padding: 0 58px;
        overflow: hidden;
    }
    @include res(s){
        padding: 0 25px;
        overflow: hidden;
    }
}

.view.movies-cart.movie-list.vertical{
    > .view-content{
        display: block;
        @include res(l){
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: justify;
                    justify-content: space-between;
        }
        @include res(m){
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: justify;
                    justify-content: space-between;
        }
        > .views-row {
            width: 100%;
            margin-left: 0;
            box-shadow: 0 5px 31px rgba(0, 0, 0, 0.22);
            @include res(l){
                width: 49%;
                display: none;
                &:nth-child(1), &:nth-child(2){
                    display: block;
                }
            }
            @include res(m){
                width: 49%;
                display: none;
                &:nth-child(1), &:nth-child(2){
                    display: block;
                }
            }   
            @include res(s){
                margin-bottom: 30px;
            } 
            .text{
                padding: 53px 30px 20px;
                @include res(s-m-l){
                    padding: 28px 10px 20px;
                }
            }
        }
    }
}