{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'paragraph--id--' ~ paragraph.id(),
    content.field_style['#items'].value,
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
    <div class="width-wrapper">
      <div class="wrapper">
        {{ content|without('field_style') }}
      </div>
    </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
