[dir=rtl] .field--label-inline .field__label, 
[dir=rtl].field--label-inline .field__items {
  float: right;
}

.paragraphs-tabs-wrapper .field-multiple-table [id^=tablefield] .draggable > td{
  flex: initial!important;
}

.js-form-type-tablefield > label, .js-form-type-tablefield .form-item__description, .js-form-type-tablefield [class*=caption],
[id*=tablefield-paste], [id*=tablefield-import]{
  display: none!important;
}